[include]
    path = ~/.config/git/gitconfig
    # path = ~/.config/git/tools/delta.gitconfig

[core]
    editor = nvim
    excludesFile = ~/.config/git/gitignore

[init]
    defaultBranch = main

[alias]
    cs         = commit --signoff --gpg-sign
    ds         = diff --staged
    lt         = log --graph --oneline --all
    latest-tag = describe --abbrev=0 --tags
    lsig       = log --show-signature
    pullr      = pull --recurse-submodules
    dclean     = clean -fdx
    tclean     = clean -fdxn
    # allcommits = log --reverse --format="%C(auto) %h %s" origin/main...HEAD

[color]
    ui = auto

# [feature]
#     # Speed up git status on large repo.
#     # Should not use this as I have experienced issues with jgitver
#     # when this is turned on.
#     manyFiles = 1
