[includeIf "gitdir:~/dev/ol/"]
    path = ~/.config/git/.gitconfig-ol

[includeIf "gitdir:~/dev/personal/"]
    path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/dev/orcl/"]
    path = ~/.config/git/.gitconfig-orcl

[core]
    editor = nvim
    excludesFile = ~/.config/git/gitignore

[alias]
    ds    = diff --staged
    lt    = log --graph --oneline --all
    pullr = pull --recurse-submodules
