[includeIf "gitdir:~/dev/ol/"]
    path = ~/.config/git/.gitconfig-ol

[includeIf "gitdir:~/dev/personal/"]
    path = ~/.config/git/.gitconfig-personal

[core]
    editor = nvim
    excludesFile = ~/.gitignore

[alias]
    ds = diff --staged
    lt = log --graph --oneline --all
